<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>444393064266-8hqaaed0rdpvhfumgu71jju9ucpkc119.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.444393064266-8hqaaed0rdpvhfumgu71jju9ucpkc119</string>
	<key>API_KEY</key>
	<string>AIzaSyCmUAblnSRSj0NhNWO2l82YfG0bel23dZw</string>
	<key>GCM_SENDER_ID</key>
	<string>444393064266</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ltuc</string>
	<key>PROJECT_ID</key>
	<string>ahmad-cd17f</string>
	<key>STORAGE_BUCKET</key>
	<string>ahmad-cd17f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:444393064266:ios:6fc7d733c59704118963b3</string>
</dict>
</plist>